.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.header {
  padding: 1.2rem 1rem 1rem;
  background-color: #fff;
}

.title {
  margin: 0 0 0.6rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  color: rgb(0, 0, 92);
}

.subtitle {
  margin: 0 0 1rem;
  font-size: 0.8rem;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  color: rgb(90, 90, 90);
}

.main {
  position: relative;
  flex: 1;
  display: flex;
  overflow: hidden;
}

@media (max-width: 480px) {
  .title {
    font-size: 1.05rem;
  }
}
